<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/logo.ico" rel="icon">

</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">speedlinkWifiweb</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@




    <div id="myModalSuccess2" class="modal fade text-width:30%;">
        <div class="modal-dialog">


            <div id="MyModalSuccessAlertBody2" class="modal-body alert alert-info"></div>



            <button type="button" class="btn btn-read-more btn-primary" data-dismiss="modal">Close</button>


        </div>
    </div>





    <!-- Success Dialog Start -->

    <div id="myModalSuccess" class="modal fade text-width:30%;">
        <div class="modal-dialog">


            <div id="MyModalSuccessAlertBody" class="modal-body alert alert-success"></div>



            <button type="button" class="btn btn-read-more btn-primary" data-dismiss="modal">Close</button>


        </div>
    </div>
    @RenderBody()

    <!-- Success Dialog End -->



    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
