
@model speedlinkWifiweb.Models.mainpage.Team
<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>:: Speedlinkwifi-control :: edit Team</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="~/assets2/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets2/css/main.css">
    <link rel="stylesheet" href="~/assets2/css/color_skins.css">
</head>
<body class="theme-black">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/assets2/images/logo.svg" width="48" height="48" alt="Alpino"></div>
            <p>Please wait...</p>
        </div>
    </div>
    <aside id="minile ftbar" class="minileftbar">
        <ul class="menu_list">
            <li>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/admin_speed8090/index"><img src="~/assets2/images/logo.svg" alt="Speedlinkwifi-control"></a>
            </li>
            <li>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="/home/index"><img src="~/Image/logo8.png" alt="Speedlinkwifi-control"></a>
            </li>

            <li><a href="javascript:void(0);" class="menu-sm"><i class="zmdi zmdi-swap"></i></a></li>
            <li class="menuapp-btn"><a href="javascript:void(0);"><i class="zmdi zmdi-apps"></i></a></li>
            <li><a href="/admin_speed8090/Calendar" title="Events"><i class="zmdi zmdi-calendar"></i></a></li>
            <li><a href="/ContactUs/index" title="Inbox"><i class="zmdi zmdi-email"></i></a></li>
            <li><a href="/Teams/index" title="working Team"><i class="zmdi zmdi-account-box-phone"></i></a></li>
            <li><a href="javascript:void(0);" class="fullscreen" data-provide="fullscreen"><i class="zmdi zmdi-fullscreen"></i></a></li>
            <li class="power">
                <a href="javascript:void(0);" class="js-right-sidebar"><i class="zmdi zmdi-settings zmdi-hc-spin"></i></a>
                <h1></h1>
                <br />
                <form class="power" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("index", "admin_speed8090", new { area = "" })">
                    <button type="submit" class="mega-menu"><i class="zmdi zmdi-power"></i></button>
                    <br>
                    <br>
                </form>

            </li>
        </ul>
    </aside>

    <!-- Left Sidebar -->
    <aside class="right_menu">
        <div class="menu-app">
            <div class="slim_scroll">
                <div class="card">
                    <div class="header">
                        <h2><strong>App</strong> Menu</h2>
                    </div>
                    <div class="body">
                        <ul class="list-unstyled menu">
                            <li><a href="/admin_speed8090/Calendar"><i class="zmdi zmdi-calendar-note"></i><span>Calendar</span></a></li>
                            <li><a href="/Teams/index"><i class="zmdi zmdi-male-female"></i><span>Workng Team</span></a></li>
                            <li><a href="/ContactUs/index"><i class="zmdi zmdi-email"></i><span>inbox</span></a></li>
                            <li><a href="/main/index"><i class="zmdi zmdi-home"></i><span>Main </span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#setting">Setting</a></li>

            </ul>
            <div class="tab-content slim_scroll">
                <div class="tab-pane slideRight active" id="setting">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Colors</strong> Skins</h2>
                        </div>
                        <div class="body">
                            <ul class="choose-skin list-unstyled m-b-0">
                                <li data-theme="black" class="active">
                                    <div class="black"></div>
                                </li>
                                <li data-theme="purple">
                                    <div class="purple"></div>
                                </li>
                                <li data-theme="blue">
                                    <div class="blue"></div>
                                </li>
                                <li data-theme="cyan">
                                    <div class="cyan"></div>
                                </li>
                                <li data-theme="green">
                                    <div class="green"></div>
                                </li>
                                <li data-theme="orange">
                                    <div class="orange"></div>
                                </li>
                                <li data-theme="blush">
                                    <div class="blush"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h2><strong>Left</strong> Menu</h2>
                        </div>
                        <div class="body theme-light-dark">
                            <button class="t-dark btn btn-primary btn-round btn-block">Dark</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="leftsidebar" class="sidebar">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20">
                            <div class="image">
                                <a><img src="~/logos.jpg" alt="User"></a>
                            </div>
                            @using Microsoft.AspNetCore.Identity
                            @inject SignInManager<IdentityUser> SignInManager
                            @inject UserManager<IdentityUser> UserManager
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="detail">
                                    <h6>SpeedlinkWifi</h6>
                                    <p class="m-b-0">@User.Identity.Name</p>
                                    <a href="https://www.facebook.com/speedlinkwifi.net" title="" class=" waves-effect waves-block"><i class="zmdi zmdi-facebook-box"></i></a>
                                    <a href="https://instagram.com/speedlink.wifi?igshid=YmMyMTA2M2Y=" title="" class=" waves-effect waves-block"><i class="zmdi zmdi-instagram"></i></a>

                                </div>
                            }
                        </div>

                    </li>


                    <li><a href="/admin_speed8090/index"><i class="zmdi zmdi-blogger"></i><span>index</span> </a> </li>
                    <li> <a href="/main/index"><i class="zmdi zmdi-home"></i><span>Home</span> </a> </li>
                    <li><a href="/About/index"><i class="zmdi zmdi-filter-tilt-shift"></i><span>About</span> </a> </li>
                    <li> <a href="/services/index"><i class="zmdi zmdi-assignment"></i><span>Services</span> </a> </li>
                    <li> <a href="/PORTFOLIO/index"><i class="zmdi zmdi-local-store"></i><span>Portfolio</span> </a> </li>
                    <li class="active open"> <a href="/teams/index"><i class="zmdi zmdi-male-female"></i><span>Team</span> </a> </li>
                    <li> <a href="/ContactUs/index"><i class="zmdi zmdi-inbox"></i><span>Inbox</span> </a> </li>



                </ul>
            </div>
        </div>

    </aside>
 
    <section class="content contact">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>working team</h2>
                        <ul class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Team</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body m-b-10">
                            <ul class="nav nav-tabs padding-0">
                                <li class="nav-item">Edit employe</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="col-6">
                            <div class="card">
                                <div class="header">
                                    <form asp-action="Edit" enctype="multipart/form-data">
                                        <div class="card">

                                            <div class="body">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label asp-for="name" class="control-label"></label>
                                                        <input asp-for="name" type="text" class="form-control" placeholder="Name" required>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label class="control-label">job</label>
                                                        <input asp-for="jop" type="text" class="form-control" placeholder="Jop" required>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="Number" class="control-label"></label>
                                                        <input asp-for="Number" type="number" class="form-control" placeholder="Phone Number" required>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="Address" class="control-label"></label>
                                                        <input asp-for="Address" type="text" class="form-control" placeholder="Enter Address">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="description" class="control-label"></label>
                                                        <textarea asp-for="description" class="form-control" placeholder="Enter description" rows="4" cols="50" required></textarea>
                                                    </div>
                                                </div>
                                                <div />
                                                <h1></h1>
                                                <div class="body">
                                                    <img src="~/Image/main/team/@Model.Image" width="150" height="150">
                                                    <h1></h1>
                                                    <div class="fallback">
                                                        <input asp-for="file" multiple required />
                                                    </div>

                                                </div>
                                                <h1></h1>
                                                <div class="body">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label asp-for="faecbook" class="control-label"></label>
                                                            <input asp-for="faecbook" type="text" class="form-control" placeholder="Facebook">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label asp-for="Twitter" class="control-label"></label>
                                                            <input asp-for="Twitter" type="text" class="form-control" placeholder="Twitter">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label asp-for="linkin" class="control-label"></label>
                                                            <input asp-for="linkin" type="text" class="form-control" placeholder="Linkedin">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label asp-for="instgerm" class="control-label"></label>
                                                            <input asp-for="instgerm" type="text" class="form-control" placeholder="instagram">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div />
                                                <h1></h1>
                                                <div class="body">
                                                    <button class="btn btn-primary btn-round waves-effect m-t-20" value="Save" type="submit">Save</button>
                                                </div>
                                                <h1></h1>
                                            </div>


                                        </div>

                                    </form>
                                    <a asp-action="index" class="btn btn-round btn-info">Back to List</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Jquery Core Js -->
    <script src="~/assets2/bundles/libscripts.bundle.js"></script>
    <script src="~/assets2/bundles/vendorscripts.bundle.js"></script>

    <script src="~/assets2/bundles/easypiechart.bundle.js"></script> <!-- easypiechart Plugin Js -->

    <script src="~/assets2/bundles/mainscripts.bundle.js"></script>
</body>

</html>